// Header
.toolbar-background{
  background: #333;
  color:#fff;
}

.toolbar-title-md{
  color:#fff;
}

// Content Background
.content{
  background:#000;
}

// List Item
.list-md, .item{
  background:#333 !important;
  color:#fff;
}

// Card
.card-content, .card-title{
  background:#333 !important;
  color:#fff;
}

.button{
  background:#f26818 !important;
  color:#fff !important;
}
